<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文件上传实例</title>
</head>
<body>
    <h1>实例驱动学习之Spring框架--</h1>
    <h2>十五分钟用Spring Boot做一个文件上传系统</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input name="file" value="上传文件" type="file">
        <input type="submit" value="提交">
    </form>

    
</body>
</html>